* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    color: #fff;
    font-family: system-ui;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background: #333;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}

input:focus {
    background: #000;
    transform: scale(1.1);
}

.price input {
    width: 20%;
}

#total {
    background: #f00;
    margin: 0 10px;
    padding: 5px;
    border-radius: 3px;
}

#total::before {
    content: "Total";
}

#deleteAll {
    margin: 20px 0;
}

button {
    width: 100%;
    background: #470053;
    border: none;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

button:hover {
    background: #740c86;
    letter-spacing: 2px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
}

table tr th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}